.mac-window-top-bar {
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0); /* Gradient effect */
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
}

.mac-window-button {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mac-window-button:hover {
  background-color: #c0c0c0;
}

.mac-window-button.close {
  background-color: #FF605C;
  left: 0.5em;
}

.mac-window-button.minimize {
  background-color: #FFBD44;
  left: 1.25em;
}

.mac-window-button.expand {
  background-color: #00CA4E;
  left: 2em;
}