.tab-content > .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0 !important;
}

.tab-pane {
    background-color: white;
}

div .runControl{
    background-color: white;
    padding: 10px;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid #ddd;
    border-top: none;
    display: flex;
    justify-content: space-between;
}